body {
  margin: 0;
  height: 100vh;
  background: #f0f0f0;
}
a {
  color: #666;
}
#mobile-view {
  display: flex;
  height: 100%;
  min-height: 920px;
  align-items: center;
  justify-content: center;
}
#mobile-view-message {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 10px;
  color: #999;
  font-size: 16px;
  text-align: center;
  text-shadow: 0 0 20px #666;
}
#mobile-view-mobile {
  order: 1;
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  padding: 10px 0;
  background: #111;
  box-shadow: 20px 20px 60px #999, -20px -20px 60px #fff;
}
#mobile-view-mobile::before,
#mobile-view-mobile::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
  width: 12px;
  pointer-events: none;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
#mobile-view-mobile::before {
  left: 0;
  background: linear-gradient(90deg, #333, rgba(255, 255, 255, 0.5));
}
#mobile-view-mobile::after {
  right: 0;
  background: linear-gradient(-90deg, #333, rgba(255, 255, 255, 0.5));
}
#mobile-view-mobile iframe {
  display: block;
  width: 375px;
  height: 812px;
  margin: 0;
  padding: 0;
  border: none;
  border-left: #ccc 2px solid;
  border-right: #666 2px solid;
  border-radius: 20px;
  background: #fff;
}
#mobile-view-qrcode {
  order: 2;
  position: relative;
  overflow: hidden;
  margin-left: 60px;
  padding: 16px;
  border-top-left-radius: 32px;
  border-bottom-right-radius: 32px;
  background: #f0f0f0;
  box-shadow: inset 5px 5px 5px #ccc, inset -5px -5px 5px #fff;
  text-align: center;
}
#mobile-view-qrcode::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(
      -60deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0) 46%,
      rgba(255, 255, 255, 0.5) 48%,
      rgba(255, 255, 255, 0.5) 52%,
      rgba(255, 255, 255, 0) 54%,
      rgba(255, 255, 255, 0) 100%
    )
    no-repeat center/contain;
  transition: 0.5s all cubic-bezier(0.7, 0.3, 0.7, 0.3);
  transform: translateX(-100%);
}
#mobile-view-qrcode:hover::before {
  transform: translateX(100%);
}
#mobile-view-qrcode-img {
  display: inline-block;
}
#mobile-view-qrcode p {
  margin: 6px 0;
  font-size: 14px;
  color: #999;
  cursor: default;
}

#mobile-view {
  perspective: 1366px;
}
#mobile-view-qrcode {
  transition: all 1s;
}
#mobile-view-qrcode:hover {
  transform: rotateX(0deg) rotateY(-12deg) rotateZ(0deg);
}
#mobile-view-qrcode:hover + #mobile-view-mobile {
  transform: rotateZ(-4deg) rotateX(6deg) rotateY(24deg) scale(0.9);
}
#mobile-view-qrcode:hover + #mobile-view-mobile mark {
  transform: translateX(100%);
}
#mobile-view-mobile {
  transition: all 1s;
  transform-origin: 50% 20%;
}
#mobile-view-mobile mark {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
      -75deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0) 46%,
      rgba(255, 255, 255, 0.1) 48%,
      rgba(255, 255, 255, 0.1) 52%,
      rgba(255, 255, 255, 0) 54%,
      rgba(255, 255, 255, 0) 100%
    )
    no-repeat center/contain;
  transition: 0.5s all cubic-bezier(0.7, 0.3, 0.7, 0.3);
  transform: translateX(-100%);
  pointer-events: none;
}
